.header {
    position: relative;
}

.header img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}

.HeaderContent {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.HeaderContent h6 {
    font-size: 25px;
    text-shadow: 5px 5px 10px blue;
}

.HeaderContent h5 {
    font-size: 70px;
    font-weight: 600;
    text-shadow: 5px 5px 10px blue;
}

.HeaderContent .btn {
    width: 300px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.2s;
}

.HeaderContent .btn:hover {
    background-color: #fff !important;
    color: #000 !important;
}
.HeaderContent p {
    text-transform: uppercase;
}