.navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}
.navbar.active {
    background: #000;
    padding: 5px;
}
.navbar-brand {
    font-size: 3em;
    color: #fff !important;
    padding: 0px 60px;
    text-shadow: 5px 5px 10px #00FF00;
}
.navbar-brand span {
    font-size: 1.6em;
    color: var(--main) !important;
    font-weight: 700;
}
.navbar-nav {
    padding: 0px 60px;
    margin-top: 40px;
}
.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    color: var(--main) !important;
}