/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

/* Global Variable */
:root {
    --main: #d9ff00;
    --box_shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4),
        inset 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

body {
    overflow-x: hidden;
}
* {
    font-family: "Besley", serif;
    transition: 0.3s;
}

*::selection {
    background-color: var(--main);
    color: #000;
}

.content {
    text-align: center;
    margin: 80px auto;
}
.content h6 {
    font-size: 60px;
    font-weight: 700;
}
.content h6 span {
    font-size: 65px;
    font-weight: 900;
    color: var(--main) !important;
}
.content p {
    font-size: 13px;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
html::-webkit-scrollbar-track {
    background: #000;
}